<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <div id="fw-header">
      <h1>FatWatch</h1>
      <p>Hello, <%= username %></p>
      <a href="/logout">Logout</a>
    </div>

    <div class="fw-main">

      <div class="fw-sidebar">
        <p style="color:red" class="error-message"><%= error %></p>
        <div id="EntryForm">
          <form action="/" method="POST">
            <label>Weight:</label><input type="number" name="weight"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div>
          <p> Create Group </p>
          <form action="/group/create" method="POST">
            <label>Groupname:</label><input type="text" name="groupname"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div>
          <p> GroupList </p>
          <ul id="group-list">
            
          </ul>
        </div>
        <div>
          <p> Add to Group </p>
          <form action="/group/add" method="POST">

          <label>Groupname:</label><input type="text" name="groupname"></br>
          <label>Username:</label><input type="text" name="username"></br>
          <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      
      <div class="fw-content">
        <div id="EntryList">
          <ul>
            <% for(var i=0; i< entries.length; i++) { %>
              <li>
                      <% if(entries[i].datetime){ %>
                      date:<%= entries[i].datetime.toLocaleString() %>
                      / weight: <%= entries[i].weight %>
                      <% } %>
              </li>
            <% } %>
          </ul>
        </div>
        <div id="entry-graph">
        </div>
      </div>
      
      
    </div>

    

    <% if (entries) { %>
      <script>
         var weightEntries = <%- jsentries %>;  
         //console.log(weightEntries);   
         //sanitizeData(weightEntries);
         var container = document.getElementById('entry-graph');

          var items = [
            // {x: '2014-06-13', y: 30, group: 0},
            // {x: '2014-06-14', y: 10, group: 0},
            // {x: '2014-06-14', y: 10, group: 1},
            // {x: '2014-06-14', y: 10, group: 1},
            // {x: '2014-06-15', y: 15, group: 1},
            // {x: '2014-06-16', y: 30, group: 0},
            // {x: '2014-06-17', y: 10, group: 1},
            // {x: '2014-06-18', y: 15, group: 1}
          ];

          var options = {
            zoomable: false,
            moveable: false
          }

          for(var i=0; i < weightEntries.length; i++){
            if(weightEntries[i].datetime){
              var newitem = {
                x: weightEntries[i].datetime.toLocaleString(),
                y: weightEntries[i].weight
              }
              items.push(newitem);
            }
          }

          items = sanitizeData(weightEntries);

          var dataset = new vis.DataSet(items);
          
          var graph2d = new vis.Graph2d(container, dataset, options); 
          // var options = {
          //   start: '2014-06-10',
          //   end: '2014-06-18'
          // };
          //var graph2d = new vis.Graph2d(container, dataset, options); 

          

          function customDateFormat(datetime){
            var newdate = new Date(datetime.toLocaleString());
            //newdate.setDate(datetime);
            console.log(newdate);
            var mm = newdate.getMonth()+1;
            var dd = newdate.getDate();
            var yy = newdate.getFullYear();
            return (yy + "-" + mm + "-" + dd);
          }

          $(document).ready(function(){
            GetList();
          })
      </script>
    <% } %>
  </body>
</html>
